# Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
.pnpm-debug.log

# Next / build
.next/
out/
.vercel/
dist/
.DS_Store

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
